name: 2. CI & Deploy Staging

on:
  workflow_dispatch: # Kích hoạt bằng nút bấm
    inputs:
      build_tag:
        description: 'Nhập Tag muốn deploy'
        required: false
        default: 'staging'
        type: string

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Staging Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST_STAGING }} # IP của server Staging
          username: ${{ secrets.SSH_USER_STAGING }}       # User (vd: root, ubuntu)
          key: ${{ secrets.SSH_KEY_STAGING }}             # Private Key
          script: |
            # 1. Đi vào thư mục chứa docker-compose.yml
            cd /home/app
            
            # 2. Cập nhật biến môi trường để dùng tag 'staging'
            # (Lưu ý: Bạn phải xóa dòng TAG=... cũ đi trước khi ghi mới để tránh lỗi trùng lặp)
            sed -i '/^TAG=/d' .env || true
            echo "TAG=staging" >> .env
            
            # 3. Đăng nhập lại Harbor trên server (đề phòng hết session)
            echo ${{ secrets.HARBOR_PASSWORD }} | docker login registry.thinhopsops.win -u ${{ secrets.HARBOR_USERNAME }} --password-stdin
            
            # 4. Tải image mới nhất về (cả Frontend và Backend)
            docker compose pull
            
            # 5. Khởi động lại (Chỉ container nào có image mới mới bị restart)
            docker compose up -d --remove-orphans
            
            # 6. Dọn dẹp image cũ cho sạch ổ cứng
            docker image prune -f
